<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8"/>
	<title>Word Count</title>
	<!--<link rel="shortcut icon" href="~/static/img/calc.png" >-->
</head>
<body>
     <!-- Formulário -->
     <h1>Há {{ count }} palavra(s) em seu texto!</h1>
     <h3>Texto todo: </h3>
     {{ fulltext }}
     <br />
     <a href="{% url 'home' %}">Testar de novo</a>
     <h2>A palavra que mais aparece é: </h2>
     {% for word, counttotal in sortedwords  %}
     {{ word }} - {{ counttotal }}
     <br />
     {% endfor %}
</body>
</html>