<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8"/>
	<title>Word Count</title>
	<!--<link rel="shortcut icon" href="~/static/img/calc.png" >-->
</head>
<body>
     <!-- Formulário -->
     <form action="{% url 'count' %}">
     	<h4>Vamos contar quantas palavras aparecem no texto que você copiou?</h4>
     	<textarea cols="40" rows="4" name="fulltext"></textarea>
     	<br />
     	<input type="submit" value="Count!" name="button"/>
     </form>
     	<form action="{% url 'about' %}">
     	<input type="submit" value="Sobre" name="about"/>
     </form>
</body>
</html>